<mat-toolbar color="primary" class="navbar">
  <mat-icon class="logo-icon">school</mat-icon>
  <span class="logo-text">Online Courses</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/" class="nav-button">
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a mat-button routerLink="/courses" class="nav-button">
    <mat-icon>book</mat-icon>
    Courses
  </a>
  <a mat-button routerLink="/profile" class="nav-button">
    <mat-icon>account_circle</mat-icon>
    Profile
  </a>
  <a mat-button routerLink="/login" class="nav-button">
    <mat-icon>login</mat-icon>
    Login
  </a>
  <a mat-button routerLink="/register" class="nav-button">
    <mat-icon>person_add</mat-icon>
    Register
  </a>
</mat-toolbar>